<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>TT - @ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/ui-lightness/jquery-ui.css">
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/sitescript")
    </head>
    <body>
        <!-- header panel -->
        <div class="header_panel">

            <!-- logo -->
            <a href="" class="logo">TickTacks.com</a>

            <!-- search form -->
            <form action="" method="get" class="search">
                <input autocomplete="off" name="q" size="27" placeholder="Search" type="text" />
                <input name="search" value="search" type="submit" />
            </form>

            <!-- navigation menu -->
            <ul class="nav">
                <li>
                    <a href="#">About<span></span></a>
                    <ul>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Pin It Button</a></li>
                        <li><a href="#" target="_blank">For Businesses</a></li>
                        <li class="div"><a href="#">Careers</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Blog</a></li>
                        <li class="div"><a href="#">Terms of Service</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Copyright</a></li>
                        <li><a href="#">Trademark</a></li>
                    </ul>
                </li>
                @if (Request.IsAuthenticated)
                {
                    <li><a id="addpost" href="http://localhost:45659/Service/AddPost">Add +</a></li>
                    <li>
                        @Html.ActionLink("Profile", "Index", "Profile", new { id = WebSecurity.GetUserId(User.Identity.Name) }, null)
                        <ul>
                            <li><a href="#">Invite Friends</a></li>
                            <li><a href="#">Find Friends</a></li>
                            <li class="div"><a href="#">Boards</a></li>
                            <li><a href="#">Pins</a></li>
                            <li><a href="#">Likes</a></li>
                            <li class="div">@Html.ActionLink("Settings", "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })</li>
                            <li>@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })){@Html.AntiForgeryToken()<a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>}</li>
                        </ul>
                    </li>                    
                }
                else
                {
                    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                }
            </ul>

        </div>



        @RenderSection("profile", required: false)
        <!-- main container -->
        <div class="main_container">            
            @RenderBody()
        </div>
        <div id="loadmoreajaxloader" style="display:none;"><center><img src="./images/loader.gif" /></center></div>
        @RenderSection("scripts", required: false)
    </body>
</html>