@model TTModels.Posts

<!-- post @Model.id -->
<div class="pin" pin_id="@Model.id">
    <div class="holder">
        <div class="actions">    
            @if (Request.IsAuthenticated)
            {        
            <a href="#" class="button comment_tr">Comment</a>
            }
        </div>
        <a class="image ajax" href="http://localhost:45659/Service/?id=@Model.id" title="@Model.title">
            <img alt="@Model.tags" src="@Model.filename">
        </a>
    </div>
    <p class="desc">@Model.title</p>
    <p class="info">
        <span class="LikesCount"><strong>@Model.like_count</strong> likes</span>
        <span>@Model.repin_count repins</span>
        <span>@Model.comments_count comments</span>
    </p>
    <form class="comment" method="post" action="" style="display: none" onsubmit="return submitComment(this, @Model.id)">
        <textarea placeholder="Add a comment..." maxlength="255" name="comment"></textarea>
        <input type="submit" class="button" value="Comment" />
    </form>
</div>