@model TT.Models.PostUserCombined

@{
    Layout = null;
}

<div class="pin bigpin" bpin_id="@Model.Post.id">
    <div class="owner">
        <a href="#" class="button follow_button">Follow</a>
        <a class="owner_img" href="http://localhost:18276/Profile/?id=@Model.Profile.UserId">
            <img alt="@Model.Profile.UserName" src="http://localhost:18276/images/avatar.jpg" />
        </a>
        <p class="owner_name"><a href="http://localhost:18276/Profile/?id=@Model.Profile.UserId">@Model.Profile.UserName</a></p>
        <p class="owner_when">@Model.Post.dateuploaded</p>
    </div>
    <div class="holder">
        <div class="actions">
            <!-- TODO -->
        </div>
        <a class="image" href="#" title="@Model.Post.title">
            <img alt="@Model.Post.title" src="http://localhost:18276/@Model.Post.filename" />
        </a>
    </div>

    <p class="desc">@Model.Post.title</p>

    <div class="comments">
        
    </div>   
</div>